<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-margin-bottom">
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">{{ note?.title }}</ion-card-title>
      <ion-card-subtitle *ngIf="note?.notifyAt">
        <ion-icon name="notifications-outline" class="ion-margin-end"></ion-icon>
        {{ note?.notifyAt | date:'dd/MM/yyyy HH:mm' }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <p class="ion-text-wrap">{{ note?.description }}</p>
      </ion-text>

      <ion-img *ngIf="note?.imagePath"
               [src]="note?.imagePath"
               class="ion-margin-top ion-rounded"
               style="max-height: 300px; object-fit: cover;">
      </ion-img>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="editNote()" color="primary" class="ion-margin-bottom">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="deleteNote()" color="danger" class="ion-margin-bottom">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
