<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list class="ion-padding">
      <ion-list-header class="custom-header">
        <ion-label>
          <h2>DETALHES DA NOTA</h2>
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input
          label="Título"
          labelPlacement="floating"
          placeholder="Digite o título"
          formControlName="title"
          [counter]="true"
          maxlength="50">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Descrição"
          labelPlacement="floating"
          placeholder="Digite a descrição"
          formControlName="description"
          [rows]="4"
          [counter]="true"
          maxlength="500">
        </ion-textarea>
      </ion-item>

      <ion-list-header class="custom-header">
        <ion-label>
          <h2>LEMBRETE</h2>
        </ion-label>
      </ion-list-header>

      <ion-item button (click)="abrirSeletorDataHora()">
        <ion-label class="ion-padding-horizontal">
          <h3>Data e Hora</h3>
          <p>{{ dataHoraSelecionada | date:'dd/MM/yyyy HH:mm' }}</p>
        </ion-label>
      </ion-item>

      <ion-list-header class="custom-header">
        <ion-label>
          <h2>IMAGEM</h2>
        </ion-label>
      </ion-list-header>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button fill="outline" (click)="presentActionSheet()">
              <ion-icon name="images-outline" slot="start"></ion-icon>
              Escolher Imagem
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none" *ngIf="imagePath">
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <ion-img [src]="imagePath"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>Imagem selecionada</h3>
        </ion-label>
        <ion-button slot="end" fill="clear" color="danger" (click)="removeImage()">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" (click)="save()">
          Salvar Nota
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="dismiss()" color="danger">
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
