<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Minhas Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="card-note">
  <ion-list *ngIf="notes.length > 0; else noNotes" lines="none">
    <ion-card *ngFor="let note of notes" (click)="openNote(note.id!)" class="ion-margin" color="tertiary">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3" *ngIf="note.imagePath" class="ion-padding-start">
              <ion-thumbnail>
                <ion-img [src]="note.imagePath" class="ion-rounded"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <ion-col [size]="note.imagePath ? '9' : '12'">
              <div class="note-content">
                <ion-text class="note-title ion-text-wrap">{{ note.title }}</ion-text>
                <ion-text class="note-description ion-text-wrap ion-text-break">{{ note.description }}</ion-text>
                <div *ngIf="note.notifyAt" class="note-date">
                  <ion-icon name="alarm-outline" class="note-date-icon"></ion-icon>
                  <ion-text>{{ note.notifyAt | date:'dd/MM/yyyy HH:mm' }}</ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #noNotes>
    <div class="ion-text-center ion-padding">
      <ion-icon name="document-text-outline" class="ion-margin-bottom" style="font-size: 4rem;"></ion-icon>
      <ion-text>
        <h2>Nenhuma nota salva ainda</h2>
        <p>Clique no botão abaixo para criar sua primeira nota</p>
      </ion-text>
    </div>
  </ng-template>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
